@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
body {
    background-image: url('folk-pattern.png');
    background-repeat: repeat;
}
.calc-body {
    text-align: center;
    margin: 30px auto;
    border: 1px solid red;
    max-width: 50%;
    padding: 30px;
    max-height: 100%;
}